* {
  margin: 0px;
}
/* header & nav  */
header {
  height: 60px;
}
nav {
  display: flex;
  margin: 30px 100px;
  justify-content: space-between;
  align-items: center;
}
nav h4 {
  font-size: 28px;
  font-weight: 800;
}
nav button {
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #ffffff;
  font-weight: 600;
  color: rgb(13, 19, 33);
  opacity: 0.8;
}
/* banner style */
.banner {
  background-image: url(/assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  text-align: center;
}
.banner img {
  margin-top: 50px;
}
.banner h1 {
  margin-top: 30px;
  font-size: 48px;
}
.banner p {
  margin: 20px 300px;
  color: #474747;
  opacity: 0.9;
  line-height: 25px;
}
.banner button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
.banner button {
  border-radius: 5px;
  border: none;
  padding: 20px 35px;
  background-color: #000000;
}
