* {
  margin: 0px;
}
/* header & nav  */
header {
  height: 60px;
}
nav {
  display: flex;
  margin: 30px 100px;
  justify-content: space-between;
  align-items: center;
}
nav h4 {
  font-size: 28px;
  font-weight: 800;
}
nav button {
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #ffffff;
  font-weight: 600;
  color: rgb(13, 19, 33);
  opacity: 0.8;
}
/* banner style */
.banner {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  text-align: center;
}
.banner img {
  margin-top: 50px;
}
.banner h1 {
  margin-top: 30px;
  font-size: 48px;
}
.banner p {
  margin: 20px 300px;
  color: #474747;
  opacity: 0.9;
  line-height: 25px;
}
.banner button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
.banner button {
  border-radius: 5px;
  border: none;
  padding: 20px 35px;
  background-color: #000000;
}
/* why web development section  */
.why-web-dev {
  margin: 150px 150px 0px 150px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 10px;
}
.title-txt {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  padding-top: 80px;
}
.sub-title-txt {
  margin: 0px 150px;
  text-align: center;
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.content-box {
  border-radius: 10px;
  margin: 30px 100px 0px 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-box-2 {
  justify-content: left;
}
.txt-box {
  margin: 50px;
}
.txt-box .txt-box-h4 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4px;
}
.txt-box .txt-box-p {
  width: 464px;
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}
.txt-box .txt-box-btn {
  background-color: #ffffff;
  color: #474747;
  padding: 12px 27px;
  font-size: 20px;
  font-weight: 700;
}
.img-box {
  padding-right: 30px;
}
.img-box-2 {
  padding-left: 30px;
}
/* inspiration section */
.inspiration {
  margin: 100px 150px;
}
.title-txt-2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  padding-top: 80px;
}
.sub-title-txt-2 {
  margin: 0px 150px;
  text-align: center;
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.iframe {
  border: rgba(13, 19, 33, 0.2) 1px solid;
  border-radius: 16px;
  padding: 32px;
}
.video{
  border-radius: 16px;
}
/* my next current section */
.my-current-target {
  margin: 150px 150px 0px 150px;
}
.my-current-target .title-text-3 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
}
.sub-title-text-3 {
  margin: 0px 100px;
  text-align: center;
  color: #474747;
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 400;
  line-height: 25px;
}

.card-container{
    margin-top: 50px;
    display: flex;
}
.card-box-1{
    background-color:rgba(255, 76, 30, 0.05);
    margin: 0px 10px;
    width: 400px;
    border-radius: 16px;
    padding: 40px;
}
.card-box-2{
    background-color:rgba(0, 76, 232, 0.05);
    margin: 0px 10px;
    width: 400px;
    border-radius: 16px;
    padding: 40px;
}
.card-box-3{
    background-color:rgba(255, 223, 0, 0.05);
    margin: 0px 10px;
    width: 400px;
    border-radius: 16px;
    padding: 40px;
}
.card-container h4{
  font-size: 24px;
  font-weight:900;
}
.card-container p{
  font-size: 16px;
  color: #474747;
  margin-top: 20px;
  line-height: 25px;
  letter-spacing: 1px;
}
.card-container a{
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
/* i need support section */
.i-need-support{
  margin:150px 150px 0px 150px ;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
  ,url(../assets/handshake.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  height: 360px;
  text-align: center;
}
.i-need-support h1{
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  word-spacing: 8px;
  letter-spacing: 1px;
  padding-top: 80px;
}
.i-need-support p{
  color:#ffffff ;
  font-size: 16px;
  line-height: 25px;
  word-spacing: 2px;
  letter-spacing: 1px;
  opacity: 0.7;
  margin: 0px 200px;
}
.i-need-support .input{
  margin: 20px 0px;
}
.i-need-support .input input{
  width: 500px;
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  word-spacing: 2px;
  letter-spacing: 2px;
}
.i-need-support .input button{
  margin-left: 10px;
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
}
/* footer section */
footer{
  margin-top: 100px;
  background-color:rgb(13, 19, 33, 0.03);
  height: 120px;
}
footer .footer-box{
  margin:150px 150px 0px 150px;
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}
footer .footer-box h2{
  letter-spacing: 1px;
  word-spacing: 3px;
}
footer .footer-box .footer-img-box img{
  padding: 0px 10px;
}
